!!! 5

-# <!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
-# <!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
-# <!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
-# <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

%html.no-js.init{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:'http-equiv' =>"X-UA-Compatible", :content=>"IE=edge,chrome=1"}
    %title Sinatra Boilerplate
    %meta{:name => "description", :content => ""}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

    != css :application
    != js  :jsforhead
    :javascript
      /* adds init class to the body on load so we can kick off any css animations */
      window.onload = function() {
        return setTimeout((function() {
          return document.documentElement.className = document.documentElement.className.replace(/(\b|^)init\b/, " ");
        }), 500);
      };

  %body
    .page
      %header{:role => 'banner'}
        %h1 Sinatra Boilerplate

    %section
      = yield

    != js :application
    - if ENV['appname_ga']
      :javascript
        var _gaq=[['_setAccount',"#{ENV['appname_ga']}"],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
          s.parentNode.insertBefore(g,s)}(document,'script'));


